<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<targets>
		<target xsi:type="Console" name="console"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}" />
		<target xsi:type="File" name="errorFile" fileName="logs/error.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}" />
		<target xsi:type="File" name="warnFile" fileName="logs/warn.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}" />
		<target xsi:type="File" name="infoFile" fileName="logs/info.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" maxlevel="Info" writeTo="console" />

		<logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warnFile" />

		<logger name="*" minlevel="Error" writeTo="errorFile" />

		<logger name="Microsoft.*" minlevel="Info" maxlevel="Info" writeTo="console" final="true" />
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Info" maxlevel="Info" writeTo="console" final="true" />
	</rules>
</nlog>
